absl-py==2.1.0
addict==2.4.0
aiofiles==22.1.0
aiosqlite==0.20.0
airsim==1.8.1
anyio==4.4.0
argcomplete==3.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools==5.5.0
Cerberus==1.3.5
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.1.1
coverage==7.6.1
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.5
decorator==5.1.1
deprecation==2.1.0
distro==1.9.0
docker-pycreds==0.4.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
Flask==3.0.3
fonttools==4.53.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.34.0
google-auth-oauthlib==1.0.0
grpcio==1.66.1
gym==0.20.0
-e git+https://github.com/yash27agarwal/UAV_Navigation_DRL_AirSim.git@139af3d519a1a679933b40d93d640d1bbf61a339#egg=gym_env&subdirectory=gym_env
gym-notices==0.0.8
idna==3.8
importlib_metadata==8.4.0
importlib_resources==6.4.4
ipykernel==6.29.5
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-ydoc==0.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_packaging==0.12.3
jupyter_server==2.14.2
jupyter_server_fileid==0.9.2
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kconfiglib==14.1.0
keyboard==0.13.5
kiwisolver==1.4.7
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
meson==1.5.1
mistune==3.0.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath==1.3.0
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==6.5.7
notebook_shim==0.2.4
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nunavut==2.3.1
oauthlib==3.2.2
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
overrides==7.7.0
packaging==24.1
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pbr==6.1.0
pickleshare==0.7.5
pillow==10.4.0
pkgconfig==1.5.5
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==5.24.0
ply==3.11
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.0
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydsdl==1.22.0
Pygments==2.18.0
pymavlink==2.4.41
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyqtgraph @ file:///croot/pyqtgraph_1673550036766/work
pyquaternion==0.9.9
pyros-genmsg==0.5.8
pyserial==3.5
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pyulog==1.1.0
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
rsa==4.9
scikit-build==0.18.1
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.13.0
setproctitle==1.3.3
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
-e git+https://github.com/heleidsn/stable-baselines3.git@012c9772fc813043e63e867f5c9ca1cc570fc266#egg=stable_baselines3&subdirectory=../../stable-baselines3
stack-data==0.6.3
sympy==1.13.2
tenacity==9.0.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
terminado==0.18.1
testresources==2.0.1
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tornado==4.5.3
tqdm==4.66.5
traitlets==5.14.3
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3==2.2.2
vcstool==0.3.0
wandb==0.17.9
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
widgetsnbextension==4.0.13
y-py==0.6.2
ypy-websocket==0.8.4
zipp==3.20.1
